<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/home/zelda/Documents/School/Spring2016/CS445/CS445Spring2016/FinalProject/delectable"/>
</launchConfiguration>
